div.slideshow {
    display: flex;
    flex-direction: row;
}

h1 {
    text-align: center;
}

img {
    width: auto;
    height: auto;
}

div#left, div#right {
    width: 20px;
    height: 50px;
    color: white;
    background-color: black;
    text-align: center;
    justify-content: center;
    position: relative;
    opacity: 25%;
}